services:
  - type: web
    name: hotel-tech-market
    env: node
    rootDir: server
    buildCommand: |
      npm install
      cd ../client
      npm install
      npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
